<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/control.js"></script>
</head>

<body>
  <div class="mainCheckPriceBox">
    <%- include('headder') %>

    <div class="content">
      <%- include('menu') %>
      <%- include('mainArticle') %>
    </div>
  </div>
</body>

</html>