<ul class="mainMenu">
    <li onclick="locationLink(1)">หน้าแรก</li>
    <li onclick="locationLink(2)">ประเภท</li>
    <li onclick="locationLink(3)">ชนิด</li>
    <li onclick="locationLink(4)">รายการสินค้า</li>
    <li onclick="locationLink(5)">แหล่งสินค้า</li>
    <li onclick="locationLink(6)">หน่วย</li>
    <li onclick="locationLink(7)">บันทึกราคาสินค้า</li>
    <li onclick="locationLink(8)">แก้ไข-ลบ ราคาสินค้า</li>
    <li onclick="locationLink(9)">แสดงราคาสินค้า</li>
</ul>